body{
    font-family:cursive;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
a:hover{
    color: orangered;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    background-color: rgb(253, 249, 238);
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 80px;
    margin-right: 10px;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}
td{
    padding: 40px;
}
.indice th {
    border: 1px solid black;
    border-radius: 10px;
  }
.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(300px*18);
}
.slider .slide{
    width: 300px;
}
.slider .slide img{
    width: 100%;
}
@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-300px * 9));
        transform: translateX(calc(-300px * 9));
    }
}